<div class="cotainer">
  <div class="row">
    <div class="col-sx-12 col-sm-6 col-sm-offset-3">
      <h1>Editing Restaurant</h1>

      <%= render 'form', restaurant: @restaurant %>

      <%= link_to 'Show', @restaurant %> |
      <%= link_to 'Back', restaurants_path %>
    </div>
  </div>
</div>

